pytorch-lightning==1.2.10
datasets==1.6.2
transformers==4.5.1
scikit-learn==0.24.2
wandb
torchmetrics
matplotlib
seaborn
hydra-core
omegaconf
hydra_colorlog
fastapi
uvicorn
pyasn1>=0.6.2 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.46.2 # not directly required, pinned by Snyk to avoid a vulnerability
